/* the styles for the elements */
/* the reset selector */
/*DEVELOPER: Kevin Busseno, IS117-101, Spring 2021 */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 900px;
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left:auto;
	margin-right:auto;
	border:solid #778899;
	border-width: 2px;
	background-color:#fffded;
	border-bottom:solid black;
	border-top: solid black;
	border-left: solid black;
	border-right: solid black;
}

section {
	width: 525px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

aside { 
	width: 215px;
	float: right;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
}

html{
	background-color:#fffded;
}

/* the styles for the header */
header img {
	float: left;
	padding-right: 20px;
}

header{
	border-bottom:solid black;
	padding-top: 1.5em;
	padding-bottom: 2em;
	padding-left: 30px;
	padding-right: 30px;
	background: linear-gradient(30deg,#DC143C 0%, #ffb84d 30%,  #cccccc	50%, #ffb84d 80%, #DC143C 100%)
}

h1{
	font-size: 150%;
	padding-top: .5em;
	padding-bottom: .25em;
	margin: 0;
	margin-top:0;
	margin-bottom: 0;
}

p{
	padding-bottom: .5em;
}

#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
#nav_menu ul li {
	float: left;
}

#nav_menu ul li a {
    display: block;
    width: 180px;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: #778899;
    color: #262626;
    font-weight: bold;
	border-bottom:solid black;
}

#nav_menu a.current {
	color: white;
}

#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

#nav_menu ul li:hover > ul {
	display: block;
}

#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}

blockquote{
	padding-right: 2em;
	padding-left: 2em;
	font-style: italic;
}


ul{
	padding-bottom: .25em;
	padding-left: 1.25em;
}

li{
	padding-bottom: .35em;
}

h2{
	font-size: 150%;
	color:#800000;
}

header h3{
	font-size: 130%;
	font-style: italic;
}

header h2{
	color: Black;
}
/* the styles for the section */
main {
	clear: left;
}

main h1{
	font-size:150%;
	padding-top: .3em;
	padding-bottom: .3em;
	border-bottom: solid #df6e49;
	border-width: 3px;
}

main h2{
	font-size: 130%;
	color:#b30000;
	padding-top:.55em;
	padding-bottom:.25em;
	text-align: center;
}

main aside h2{
	font-size: 130%;
	color: #b30000;
	padding-top:.5em;
	padding-bottom:.25em;
	
}

main aside h3{
	font-size: 100%;
	padding-bottom: .25em;
}

main img{
	border: solid black;
	float: left;
	width: 45%;
}

a:hover,a:focus{

	font-style:italic;
	
}
 /* CARDS STUFF GOES UNDER HERE */

main aside .card {
	 /* Add shadows to create the "card" effect */
	 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	 transition: 0.3s;
	 border-radius: 5px;
	 
}

/* On mouse-over, add a deeper shadow */
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
 
/* Add some padding inside the card container */
.container {
	padding: 2px 16px;
}

main aside .grid-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	width: 350px;
	float: right;
}

/* the styles for the footer */
.footer{
	background-color:#778899;
	clear: both;
	bottom: 0;
	border: solid black;
	text-align: center;
	width: 47.3%;
	position: fixed;
}


.shadow{
	text-shadow:2px 2px 2px #778899;
}